@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");
/* Some CSS RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #334155;
}
html {
  font-size: 62.5%;
  font-family: "roboto";
}

/* Utility Button */
.btn {
  border: none;
  background-color: #3b82f6;
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.btn:hover {
  background-color: #2563eb;
}

.app {
  width: 80dvw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 5rem 0;
  margin-top: 3rem;
}
input {
  text-align: center;
}

/* For the left Container of the application */
.left-container {
  width: 40rem;
  border-radius: 10px;
  position: relative;
  padding: 1.5rem;
  align-self: flex-start;
}

/* For the Friend Component */
.friend {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1rem;
  font-size: 1.5rem;
  align-items: center;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.friend:hover,
.selected {
  background-color: #dbeafe;
}
.friend img {
  height: 50px;
  border-radius: 50%;
}
.friend h4,
.friend p {
  padding: 0.2rem 0;
}
.friend h4 {
  font-size: 2rem;
  font-weight: 500;
}

/* For the AddFriend form */
.add-friend {
  width: 100%;
  font-size: 1.5rem;
  padding: 1.3rem;
  border-radius: 10px;
  background-color: #dbeafe;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1.5rem 0rem;
}
.add-friend * {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: inherit;
}
.add-friend label {
  font-weight: 500;
}
.add-friend .btn {
  grid-column-start: 2;
}
.add-friend input,
.right-container form input {
  color: #475569;
}
.left-container > .btn {
  position: absolute;
  right: 2rem;
  bottom: -4rem;
}

/* For Right Container */
.right-container {
  width: 45rem;
  background-color: #dbeafe;
  border-radius: 10px;
  padding: 3rem;
  align-self: flex-start;
}
.right-container h2 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
}
.right-container form {
  border-radius: 10px;
  background-color: #dbeafe;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 0rem;
}

.right-container form * {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: inherit;
}
.right-container form input,
.right-container form select {
  width: 20rem;
}
.right-container .btn {
  grid-column-start: 2;
}

/* For Mobile layout */
@media screen and (max-width: 640px) {
  .app {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 5rem;
    padding: 3rem 0;
  }
  .left-container {
    width: auto;
    padding: 0.5rem;
  }
  .left-container > .btn {
    right: 1rem;
  }
  .right-container {
    width: auto;
    margin-top: 5rem;
  }
  .right-container form input,
  .right-container form select {
    width: 16rem;
  }
}
